footer {
    position: fixed;
    padding: 1rem 0;
    background: #7000C9;
    bottom: 0;

    width: 100%;

    h6 {
        text-align: center;
        color: #fff;
        font-size: 20px;
    }
}